/*

# whitelist
!/DifferentialGeometry/
!/.github
!/Examples/
!/DifferentialGeometry.lean
!/lakefile.toml
!/lean-toolchain
!/README.md
!/LICENSE
!/.gitignore
!/CLAUDE.md
!/STRUCTURE.md
!/NAMING.md
!/MIGRATION_PLAN.md
!/PROGRESS.md
# end of whitelist

.lake/

.DS_Store
**/.DS_Store